@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .accent {
    @apply text-orange-400 font-bold;
  }

  .gradient {
    @apply text-transparent font-bold bg-clip-text bg-gradient-to-r from-orange-400 to-pink-500;
  }

  .anchor {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }

  .anchor-hover {
    text-underline-offset: 2px;
    opacity: .8;
    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }
}

