@import "tailwindcss";

:root {
  --foreground: oklch(82.918% 0.00187 248.994);
  --background: oklch(15.984% 0.00864 274.307);
  --primary: oklch(91.091% 0.12831 188.479);
  --secondary: oklch(65.925% 0.08719 191.405);
  --muted: oklch(26.918% 0.02427 253.731);

  @media (prefers-color-scheme: light) {
    --foreground: oklch(15.984% 0.00864 274.307);
    --background: oklch(97.113% 0.00332 67.035);
    --primary: oklch(65.925% 0.08719 191.405);
    --secondary: oklch(26.918% 0.02427 253.731);
    --muted: oklch(79.907% 0.02732 202.687);
  }
}

html::selection {
  background: var(--secondary);
  color: var(--background);
}
@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
}

@utility with-shell {
  code .line:before {
    content: "$";
    color: var(--foreground);
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
  }
}

@utility with-line-numbers {
  code {
    counter-reset: step;
    counter-increment: step 0;
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    color: var(--foreground);
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
  }
}

@utility accent {
  @apply text-primary font-bold;
}

@utility gradient {
  @apply text-transparent font-bold bg-clip-text bg-linear-to-r from-primary to-secondary;
}

@utility anchor {
  text-decoration-line: underline;
  text-underline-offset: 4px;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@utility anchor-hover {
  text-underline-offset: 2px;
  opacity: 0.8;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
